*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.toggle-menu {
  position: absolute;
  top: 3.5rem;
  left: 25em;
  z-index: 20;
  right: 8rem;
  cursor: pointer;
  width: 40px;
  opacity: 50%;
}

@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}

.hide {
  display: none;
}

.header {
  width: 375x;
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-image: url("/assets/images/mobile/image-header.jpg");
}
@media screen and (min-width: 600px) {
  .header {
    background-image: url("/assets/images/desktop/image-header.jpg");
    height: 800px;
  }
}
.logo {
  width: 120px;
  z-index: 10;
  position: absolute;
  top: 2rem;
  margin-left: 0.5rem;
}

.main-menu {
  position: absolute;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  height: 290px;
  width: 375px;
  margin-top: 15rem;
}

@media screen and (min-width: 600px) {
  .main-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    margin-top: -4rem;
    margin-left: 60%;
    background: none;
  }
}

.main-menu-item {
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .main-menu-item {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }
}

.portada {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .portada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.title {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

@media screen and (min-width: 600px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.photo {
}
