*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.toggle-menu {
  position: absolute;
  top: 3.5rem;
  left: 18em;
  z-index: 20;
  right: 8rem;
  cursor: pointer;
  width: 40px;
  opacity: 50%;
}

@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}

.hide {
  display: none;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-image: url("/assets/images/mobile/image-header.jpg");
  background-size: contain;
}
@media screen and (min-width: 600px) {
  .header {
    background-image: url("/assets/images/desktop/image-header.jpg");
  }
}
.logo {
  width: 120px;
  position: relative;
  top: 2rem;
  margin-left: 0.5rem;
}

.main-menu {
  position: relative;
  margin-left: 2.3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  top: -13rem;
}

@media screen and (min-width: 600px) {
  .main-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    margin-top: -4rem;
    margin-left: 60%;
    background: none;
  }
}

.main-menu-item {
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .main-menu-item {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .portada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.title {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  top: 14rem;
}

@media screen and (min-width: 600px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.photo {
}

.items {
  position: relative;
  top: -10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-2 {
  padding: 2.5rem;
}

.titleitem {
  color: #24303e;
  font-size: 2rem;
}

.pitem {
  color: #808397;
  font-size: 1.1rem;
}

.learn {
  color: #24303e;
  font-weight: bolder;
  text-decoration: underline #fad400;
}

.item-5 {
  background-image: url("/assets/images/mobile/image-graphic-design.jpg");
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  height: 600px;
  padding: 2.5rem;
}

.item-6 {
  background-image: url("/assets/images/mobile/image-photography.jpg");
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  height: 600px;
  padding: 2.5rem;
}

.testimonials {
  position: relative;
  top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 3rem;
}

.testimonialtitle {
  color: #a7aaad;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

.name {
  color: #000000;
  font-weight: bolder;
  font-size: 1.4rem;
}

.profession {
  color: #a7aaad;
  margin-top: -1rem;
}

.face {
  height: 5rem;
  margin-left: 35%;
  border-radius: 50%;
}

.cuadrado {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.footer {
  position: relative;
  top: -8rem;
  background-color: #90d4c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 350px;
}

.logof {
  opacity: 80%;
}

.submenu {
  padding-top: 4rem;
  word-spacing: 3rem;
  color: #458d7e;
  font-weight: bolder;
  font-size: 1.1rem;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.redes {
  width: 100%;
  height: 120%;
  padding: 1rem;
  padding-top: 4rem;
}
